// google font imports
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

$roboto-slab: 'Roboto Condensed', sans-serif;
$poppins: 'Poppins', sans-serif;
$coromorant: 'Cormorant', serif;
$image: url('sec6-img.svg');

[main-theme='light'] {
	--background: white;
	--text-primary: black;
  }

[main-theme='dark'] {
	--background: #3D3D3D;
	--text-primary: white;
  }

[textBox-theme='light'] {
    --background: black;
	--text-primary: white;
}

[textBox-theme='dark'] {
    --background: white;
	--text-primary: black;
}

[sec-theme='light'] {
    --background-sec: #F8F1E8;
    --text-primary-sec: black;
}

[sec-theme='dark'] {
    --background-sec: #3F3E3D;
    --text-primary-sec: white;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    background-color: var(--background);
}

//default imports
@import 'base/defaults';
@import 'base/common';

// NavLanding section imports
@import 'NavLanding/NavLanding';
@import 'NavLanding/NavBar';
@import 'NavLanding/Landing';

//Section 1 imports
@import 'Sec1/Sec1';

//Section 2 imports
@import 'Sec2/Sec2';

//Section 3 imports
@import 'Sec3/Sec3';

//Section 4 imports
@import 'Sec4/Sec4';

//Section 5 imports
@import 'Sec5/Sec5';

//Section 6 imports
@import 'Sec6/Sec6';

//Section 7 imports
@import 'Sec7/Sec7';

//Section 8 imports
@import 'Sec8/Sec8';

//Section 9 imports
@import 'Sec9/Sec9';

//Footer import
@import 'Footer/Footer'