.Sec7 {
    height: auto;
    width: 92vw;
    padding: 20px 0;
    border-top: 2px solid #AEAEAC;
    border-top-style: dotted;
    border-bottom: 2px solid #AEAEAC;
    border-bottom-style: dotted;
}

.sec7-p1 {
    width: 100%;
    padding: 20px 0 10px 0;
    color: var(--text-primary-sec);
    background-color: var(--background-sec);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.sec7-p1 > * {
    margin: 0 0 10px 0;
}