.Sec6 {
    background-color: #F8F1E8;
    box-sizing: border-box;
    height: auto;
    width: 92vw;
    margin: 0 0 20px 0;
    position: relative;
}

.sec6-img{
    height: 590px;
    width: 100%;
}

.sec6-p1 {
    position: absolute;
    height: 350px;
    width: 500px;
    top: 150px;
    left: 0;
    box-sizing: border-box;
    padding: 0 50px;
}

.sec6-p2{
    position: absolute;
    height: 350px;
    width: 500px;
    bottom: 100px;
    right: 0;
    box-sizing: border-box;
    padding: 0 50px;
}

.sec6-heading{
    width: 240px;
    height: 25px;
    font-size: 18px;
    font-family: $roboto-slab;
    background-color: black;
    color: white;
    font-weight: 700;
    padding: 5px 15px;
    position: absolute;
    top: 50px;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1350px){
    .Sec6{
        height: 1100px;
        padding: 20px 0 0 0;
    }
    .sec6-img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .sec6-p1 {
        top: 20px;
        left: 0;
        width: 50%;
        height: 400px;
    }
    .sec6-p2{
        bottom: 0px;
        width: 50%;
        height: 400px;
    }
    .sec6-heading{
        right: 135px;
    }
}

@media only screen and (max-width: 980px) {
    .sec6-p1{
        width: 100%;
    }
    .sec6-p2{
        width: 100%;
    }
}

@media only screen and (max-width: 680px){
    .sec6-p1 {
        top: 100px;
    }
}
