.sec4{
    height: auto;
    width: 92vw;
    padding: 20px 0;
    border-top: 2px solid #AEAEAC;
    border-top-style: dotted;
    position: relative;
    border-bottom: 2px solid #AEAEAC;
    border-bottom-style: dotted;
}

.sec4-img{
    height: 600px;
    width: 100%;
}

.sec4-title{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $poppins;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin: 20px 0;
}

.sec4-textbox{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@media only screen and (max-width: 1010px){
    .sec4-title {
        top: 40%;
    }
    .sec4-textbox {
        top: 70%;
    }
}

@media only screen and (max-width: 740px){
    .sec4-img{
        height: 300px;
        width: 100%;
    }
    .sec4-textbox{
        width: 100%;
    }
    .sec4-title {
        font-size: 16px;
    }
}