.Footer{
    height: auto;
    width: 92%;
    padding: 20px 0;
    border-top: 2px solid #AEAEAC;
    border-top-style: dotted;
    border-bottom: 2px solid #AEAEAC;
    border-bottom-style: dotted;
    margin: 0 0 40px 0;
    font-family: $roboto-slab;
}

.footer-p1{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: flex-start
}

.footer-p2{
    height: auto;
    width: 100%;
    padding: 30px 0;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-sub {
    height: 100%;
    width: 18%;
    box-sizing: border-box;
    padding: 20px 0;
}

.footer-sub label{
    font-size: 20px;
    font-weight: 700;
}

.footer-sub ul{
    padding: 0; 
}

.footer-sub li{
    margin: 5px 0;
    list-style-type: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.05px;
}

.footer-sub:nth-child(4){
    width: 46%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-sub-1{
    height: 180px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 900;
}

.footer-sub-1 span:nth-child(1){
    font-size: 20px;
}

.email-box{
    width: 90%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F1E8;
}

.email-box-dark{
    padding: 5px 5px 5px 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}

.email-box-dark span:nth-child(2){
    color: black;
    background-color: white;
    padding: 15px;
}

.email-box span:nth-child(1){
    font-size: 16px;
}

.footer-desc{
    width: 70%;
}

@media only screen and (max-width: 980px){
    .footer-p1{
        display: grid;
        grid-template-columns: 6fr 6fr;
    }
    .footer-p2{
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-gap: 10px;
    }
    .footer-sub{
        width: 100%;
    }
    .footer-sub:nth-child(4){
        width: 100%;
        justify-content: flex-start;
    }
    .email-box{
        width: 100%;
        flex-direction: column;
    }
    .email-box span:nth-child(1){
        white-space: nowrap;
        font-size: 14px;
        margin: 0 0 10px 0;
    }
    .email-box span:nth-child(2){
        font-size: 12px;
    }
    .footer-desc{
        width: 100%;
        font-size: 12px;
        margin: 10px 0;
    }
    .email-box-dark{
        padding: 10px 20px;
    }
    .email-box-dark span:nth-child(2){
        padding: 5px;
    }
}
