.Sec3{
    height: auto;
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    border-top: 2px solid #AEAEAC;
    border-top-style: dotted;
}

.Sec3-p1{
    background-color: #F8F1E8;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px 0 0;
    padding: 20px 0;
}

@media only screen and (max-width: 1350px){
    .Sec3-p1{
        flex-wrap: wrap; 
    }
}