.Sec1{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sec1-container{
    width: 92%;
    height: 100%;
    background-color: #F8F1E8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 0 90px;   
}