.Sec8{
    height: 400px;
    width: 92%;
    border-bottom: 2px solid #AEAEAC;
    border-bottom-style: dotted;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec8-p1{
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec8-p2{
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}