.Sec5{
    height: auto;
    width: 92vw;
    box-sizing: border-box;
    border-bottom: 2px solid #AEAEAC;
    border-bottom-style: dotted;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 20px 0;
    flex-wrap: wrap;
}

.sec5-p1{
    margin: 10px 0;
}